.App {
  text-align: center;

  .openvpn-logo{
    width: 50%;
  }

  .card {
    width: 90%;
    margin: auto;
    padding: 10px;
  }

  .card-title {
    margin-bottom: 30px;
    font-size: 40px;;
  }

  .input-form {
    display: flex;
    .input-container {
      display: inline-block;
      width: 100%;
      .input {
        height: 100%;
        width: 100%;
      }
    }
    .icon {
      width: 40px;
      height: 40px;
    }

  }

  .btn-size {
    font-size: 20px;
  }
}
